.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  & li {
    list-style: none;
  }
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 580px);
  gap: 20px;

  margin: 80px 0px 160px 0px;
  &-card {
    max-width: 580px;
    min-width: 200px;
    width: 100%;
    max-height: 320px;
    border-radius: 5px;
    & img {
      width: 100%;
    }

    & h2 {
      max-width: 198px;
      padding: 6px 10px 6px 10px;
      gap: 10px;
      border-radius: 5px;

      color: #ffffff;
      background: #00000099;

      transform: translate(10px, -100px);

      font-family: "Roboto";
      font-size: 28px;
      font-weight: 500;
      line-height: 32px;
    }

    & p {
      max-width: 430px;
      padding: 6px 10px;
      border-radius: 5px;

      transform: translate(10px, -95px);

      color: #ffffff;
      background: #00000099;

      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.01em;
    }
  }
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    width: 323px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: center;
  }

  &-title {
    max-width: 976px;

    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -3px;
    text-align: center;

    margin: 16px 0 48px 0;
  }

  &-heading {
    display: flex;
    align-items: center;
    gap: 20px;

    & > div {
      min-width: 412px;
      border: 1px solid rgba(234, 227, 217, 1);
    }
  }

  & p {
    max-width: 620px;
    width: 100%;

    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: center;
  }

  &-btn {
    display: flex;

    align-items: center;
    gap: 8px;
    padding: 14px 16px;
    border: 1px solid rgba(119, 56, 68, 0.2);
    border-radius: 12px;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;

    margin: 20px 0 160px 0;
    color: rgba(119, 56, 68, 1);
  }
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  & img {
    width: 100%;
    height: 100%;
  }
}

.section4 {
  display: flex;
  align-items: flex-start;
  max-width: 1180px;
  width: 100%;
  height: 522px;
  border-radius: 12px;
  opacity: 0px;

  margin-top: 80px;

  background: rgba(255, 255, 255, 1);

  &-card {
    margin: 48px 54px 48px 60px;
    max-width: 659px;

    &-info {
      border-bottom: 1px solid rgba(234, 227, 217, 1);
      &-title {
        width: 335px;
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.12em;
        text-align: center;

        color: rgba(119, 56, 68, 1);
      }

      &-list {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;
        margin: 24px 0 40px 0;

        &-li {
          font-size: 20px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: -0.01em;
          text-align: left;

          &-img {
            margin-right: 12px;
          }
        }
      }
    }

    &-number {
      &-title {
        margin: 16px 0 12px 0;
      }

      &-phone {
        display: flex;
        align-items: center;
        gap: 12px;

        &-input {
          max-width: 260px;
          padding: 16px;
          border-radius: 12px;
          opacity: 0px;

          font-size: 20px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;

          border: none;

          background: rgba(245, 243, 240, 1);
        }

        &-btn {
          max-width: 327px;
          padding: 16px 24px 16px 24px;
          gap: 10px;
          border-radius: 12px;
          background: rgba(119, 56, 68, 1);

          font-size: 20px;
          font-weight: 500;
          line-height: 20px;

          color: rgba(255, 255, 255, 1);
          border: none;
        }

        &-prf {
          margin-top: 16px;
          font-size: 16px;
          font-weight: 400;
          line-height: 14.4px;
          text-align: left;
          color: rgba(100, 101, 98, 1);

          & span {
            border-bottom: 1px solid rgba(100, 101, 98, 1);
          }
        }
      }
    }
  }

  &-foto {
    position: relative;
    margin-top: 30px;

    &-blog {
      max-width: 133px;

      position: absolute;
      bottom: 8%;
      left: 15%;

      &-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.02em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
      &-prf {
        font-family: Helvetica Neue;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.section5 {
  max-width: 1920px;

  &-top {
    background: #1f2057;
    padding-top: 80px;
    padding-bottom: 100px;

    min-width: 1920px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-swiperApp {
      display: flex;
      flex-direction: column;
      width: 1180px;

      max-width: 1180px;

      &-prf {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
        color: #ffffff;

        & p {
          max-width: 468px;
          font-size: 20px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: -0.01em;
          text-align: left;
        }

        & button {
          max-width: 289px;
          padding: 16px 24px 16px 24px;
          border-radius: 12px;
          color: #1a1a1a;

          font-size: 20px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
        }
      }
    }
  }
  &-title {
    max-width: 736px;

    margin: 164px auto 60px;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -3px;
    text-align: center;
  }

  &-bottom {
    background: #a0a747;

    padding-top: 80px;
    padding-bottom: 100px;

    min-width: 1920px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-swiperBottom {
      display: flex;
      flex-direction: column;
      width: 1180px;

      max-width: 1180px;

      &-prf {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
        color: #ffffff;

        & p {
          max-width: 468px;
          font-size: 20px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: -0.01em;
          text-align: left;
        }

        & button {
          max-width: 289px;
          padding: 16px 24px 16px 24px;
          border-radius: 12px;
          border: none;
          color: #1a1a1a;

          font-size: 20px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
        }
      }
    }
  }
}

.section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1180px;
  border-radius: 12px;

  gap: 12px;

  margin-top: 160px;

  &-lobby1 {
    width: 100%;
    border-radius: 12px;
    opacity: 0px;
    box-shadow: 0px 20px 48px 0px #eae3d952;
    background: #ffffff;

    margin-top: 48px;

    &-title {
      display: flex;
      align-items: center;
      gap: 8px;

      padding: 40px 463px 20px 60px;
    }
    &-list {
      display: flex;
      align-content: center;
      gap: 8px;

      padding-left: 60px;

      & li {
        border-radius: 5px;

        background: #f7f1e9;
        padding: 8px 17px 8px 16px;

        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;

        & img {
          margin-right: 2px;
        }
      }
    }

    &-picture {
      display: flex;
      align-items: center;
      gap: 12px;

      padding: 40px 20px 20px 20px;
    }
  }

  &-lobby2 {
    width: 100%;
    border-radius: 12px;
    opacity: 0px;
    box-shadow: 0px 20px 48px 0px #eae3d952;
    background: #ffffff;

    &-title {
      display: flex;
      align-items: center;
      gap: 8px;

      padding: 40px 463px 20px 60px;
    }
    &-list {
      display: flex;
      align-content: center;
      gap: 8px;

      padding-left: 60px;

      & li {
        border-radius: 5px;

        background: #f7f1e9;
        padding: 8px 17px 8px 16px;

        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;

        & img {
          margin-right: 2px;
        }
      }
    }

    &-picture {
      display: flex;
      align-items: center;
      gap: 12px;

      padding: 40px 20px 20px 20px;
    }
  }
}

.section7 {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  gap: 12px;

  &-title {
    max-width: 976px;
    margin: 160px auto 60px;

    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -3px;
    text-align: center;
  }

  &-card {
    display: flex;
    justify-content: space-between;

    border-radius: 12px;

    background: #ffffff;

    width: 100%;

    &-title {
      display: flex;
      flex-direction: column;

      max-width: 510px;
      padding: 60px 40px 60px 60px;
      & p {
        margin-top: 20px;
        margin-bottom: auto;

        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.01em;
        text-align: left;
      }

      & a {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;

        color: rgba(10, 60, 228, 1);

        & img {
          margin-left: 10px;
        }
      }
    }

    &-img {
      max-width: 550px;
      max-height: 446px;
      border-radius: 5px;

      padding: 20px;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.section8 {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 148px 0 160px;
  background: rgba(160, 167, 71, 1);
  width: 100%;
  max-width: 1180px;
  border-radius: 12px;

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-48 {
      max-width: 774px;
      margin: 60px 0px 16px 0px;
      font-size: 48px;
      font-weight: 500;
      line-height: 48px;
      letter-spacing: -0.04em;
      text-align: center;

      color: rgba(255, 255, 255, 1);
    }

    & p {
      max-width: 640px;

      font-size: 28px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -0.02em;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }

    & button {
      max-width: 168px;
      padding: 16px 24px 16px 24px;
      border-radius: 12px;

      margin: 40px 0 48px 0;

      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      background: rgba(26, 26, 26, 1);
      color: rgba(255, 255, 255, 1);
    }
  }

  &-img {
    display: flex;
    align-items: center;
  }
}

.section9 {
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-text {
      font-size: 56px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: -3px;
      text-align: center;
    }

    & p {
      max-width: 811px;

      margin: 20px 0 60px 0;

      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.01em;
      text-align: center;
      border-bottom: 3px solid rgba(160, 167, 71, 1);
    }
  }
  &-cardContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    &-card {
      max-width: 380px;
      height: 470px;
      padding: 8px;
      border-radius: 12px;
      background: rgba(255, 255, 255, 1);

      &-img {
        max-width: 364px;
        max-height: 222px;

        background: rgba(214, 209, 178, 1);
        border-radius: 8px;
        position: relative;

        &-interest {
          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;
          top: 14px;
          left: 21px;
          max-width: 97px;
          max-height: 97px;

          background: rgba(119, 56, 68, 1);
          border-radius: 50%;

          &-img {
            padding: 20px 16px;
          }
        }
      }

      &-title {
        margin: 20px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        &-text {
          max-width: 332px;
          height: 64px;
          margin-bottom: 12px;

          font-size: 28px;
          font-weight: 500;
          line-height: 32px;
          letter-spacing: -0.02em;
          text-align: left;
        }
        & p {
          font-size: 19px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: -0.01em;
          text-align: left;
        }
      }
    }
  }
}

.section10 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  &-title {
    max-width: 976px;

    margin: 160px 0 40px 0;

    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -3px;
    text-align: center;
  }

  &-cardContainer {
    max-width: 1180px;

    border-color: rgba(234, 227, 217, 1);

    border-top: 1px solid rgba(234, 227, 217, 1);
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 630px;

      margin: 46px 0 38px 0;

      font-weight: 500;
      line-height: 40px;
      letter-spacing: -0.03em;
      & button {
        max-width: 280px;
        padding: 16px 24px 16px 24px;
        border-radius: 12px;
        background: rgba(119, 56, 68, 1);

        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: rgba(255, 255, 255, 1);

        border: none;
      }
    }

    &-pictery {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & div {
        display: flex;
        gap: 15px;
      }

      &-one {
      }
      &-two {
      }
      &-three {
      }
      &-four {
        grid-row: 2;
        grid-column: 2;
      }
    }
  }
}

.section11 {
  margin: 135px 0 134px;
}

.section12 {
  &-title {
    max-width: 976px;
    margin-bottom: 60px;

    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -3px;
    text-align: center;
  }

  &-pictery{
    margin-bottom:274px ;
  }
}



.swiper {
  flex-wrap: wrap;
  max-width: 1800px;
  border-radius: 5px;

  &-pagination {
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    background: rgba(0, 0, 0, 0.48);
    width: 573px;
    height: 48px;
    padding: 12px 12px 4px 12px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);
    &-bullet {
      background: none;
      border: none;
      min-width: 200px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;

      & span {
        border: 1px solid #000;
      }
    }
  }
}

.swiperS5 {
  margin-top: 40px;
}
