.title-56 {
  font-family: "TT Travels Thin";
  font-size: 56px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1px;
  text-align: left;
}
.titleWhite-56 {
  font-size: 56px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1px;
  color: #ffffff;
}

.title-40 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-align: left;
}
.title-36 {
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1px;
  text-align: left;
}
.title64 {
  max-width: 930px;
  margin: 16px 0px 24px 0px;
  text-indent: 10px;

  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -3px;
  text-align: center;
}
.title48 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -4px;
}
